@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #171515;
}
header {
    display: inline-flex;
    flex-wrap: wrap;
    position: absolute;
    align-items: center;
    top: 0;
    justify-content: flex-start;
    left: 0;
    width: 100%;
    padding: 30px 100px;
}

.leave-img {
    position: relative;
    width: 70px;
    height: 70px;
}

.logo {
    position: static;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 500px;
}

                                            /*Scroll Bar*/
/* Width */
::-webkit-scrollbar {
    display: none;
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: lightgray;  
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navigation a {
    position: static;
    text-decoration: none;
    color: aquamarine;
    border: 3px solid white;
    border-radius: 180px;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
    transition-duration: 500ms;  /*change*/
}
.navigation a:hover, .navigation a.active{
    background: aquamarine;
    box-shadow: 10px 6px 50px 1px aquamarine;
    color: black;
}

.text{
    margin-top: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
}
span {
    margin-left: 10px;
    background-image: linear-gradient(45deg, rgb(54, 242, 255), rgb(133, 255, 176));
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-decoration-color: transparent;
}

#leaf2 {
    position: absolute;
    transform: translate(1250px, -50px);
    pointer-events: none;
    z-index: -1;
}

#leaf3 {
    position: absolute;
    transform: translate(0px, 500px);
    pointer-events: none;
    z-index: -1;
}

#return-to-top {
    color: black;
    position: fixed;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
    transform: translate(1575px, 200px);
    background-color: rgb(236, 236, 236);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow:
    6px 6px 12px #c5c5c5,
    -6px -6px 12px #fff;
    transition: all 0.3s ease;
    z-index: 1;
}
#return-to-top:hover {
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 
    -6px -6px 12px #c5c5c5,
    6px 6px 12px #fff;
}

.sec h1 {
    padding: 40px;
    text-align: center;
}
.sec {
    background-color: white;
    width: 100%;
    height: 3000px;
    margin-top: 345px;
    color: #171515;
}

.grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px; 
    column-gap: 100px;
    margin-top: 100px;
    justify-content: center;
}

.grid-items {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    color: black;
    transition: all 0.3s;
    box-shadow:
    6px 6px 12px #c5c5c5,
    -6px -6px 12px #fff;
}
.grid-items:hover {
    box-shadow: 
    -6px -6px 12px #c5c5c5,
    6px 6px 12px #fff;
    cursor: pointer;
}
.grid-items h3 {
    font-size: 1.6rem;
    display: inline-flex;
    margin: 0 0 18px 0;
}
.grid-items img {
    width: 100%;
    border-radius: 16px;
}

.content {
    position: absolute;
    align-items: center;
    padding: 10px;
    border-radius: 16px;
    width: 90%;
    height: 80%;
    margin-top: 300px;
    margin-left: 100px;
    background-color: #e7e7e7;
    z-index: 0;
}
.inner-border1 {
    position: absolute;
    padding: 150px;
    border-radius: 43% 57% 27% 73% / 42% 28% 72% 58%;
    background-image: linear-gradient(45deg, rgb(78, 250, 201), rgb(87, 202, 255));
    margin-top: 150px;
    margin-left: 125px;
    transform: translate(10px) rotate(90deg);
    filter: blur(40px);
    z-index: 0;
    animation: inner-border1 35s infinite alternate;
}
@keyframes inner-border1 {
    100% {
        border-radius: 65% 35% 49% 51% / 30% 52% 48% 70%;
        transform: translate(600px, -40px);
    }
}
.inner-border2 {
    position: absolute;
    padding: 200px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(45deg, rgb(78, 250, 201), rgb(87, 202, 255));
    margin-top: 100px;
    margin-left: 1000px;
    transform: translate(10px) rotate(90deg);
    filter: blur(40px);
    z-index: 0;
    animation: inner-border2 20s infinite alternate;
}
@keyframes inner-border2 {
    100% {
        border-radius: 46% 54% 40% 60% / 71% 48% 52% 29%;
        transform: translate(-800px, 130px);
        background-image: linear-gradient(50deg, rgb(78, 250, 201), rgb(87, 202, 255));
    }
}
.inner-border3 {
    position: absolute;
    padding: 250px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(45deg, rgb(78, 250, 201), rgb(87, 202, 255));
    margin-top: 100px;
    margin-left: 500px;
    transform: translate(10px) rotate(180deg);
    filter: blur(40px);
    z-index: 0;
    animation: inner-border3 40s infinite alternate;
}
@keyframes inner-border3 {
    100% {
        border-radius: 46% 54% 40% 60% / 71% 48% 52% 29%;
        transform: translate(-500px, -100px);
        background-image: linear-gradient(50deg, rgb(78, 250, 201), rgb(87, 202, 255));
    }
}
.inner-border4 {
    position: absolute;
    padding: 150px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(45deg, rgb(78, 250, 201), rgb(87, 202, 255));
    margin-top: 100px;
    margin-left: 500px;
    transform: translate(10px) rotate(180deg);
    filter: blur(40px);
    z-index: 0;
    animation: inner-border4 15s infinite alternate;
}
@keyframes inner-border4 {
    100% {
        border-radius: 46% 54% 40% 60% / 71% 48% 52% 29%;
        transform: translate(500px, -30px);
        background-image: linear-gradient(50deg, rgb(78, 250, 201), rgb(87, 202, 255));
    }
}
.inner-border5 {
    position: absolute;
    padding: 150px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;
    background-image: linear-gradient(45deg, rgb(78, 250, 201), rgb(87, 202, 255));
    margin-top: 200px;
    margin-left: 500px;
    transform: translate(10px) rotate(180deg);
    filter: blur(40px);
    z-index: 0;
    animation: inner-border5 35s infinite alternate;
}
@keyframes inner-border5 {
    100% {
        border-radius: 46% 54% 40% 60% / 71% 48% 52% 29%;
        transform: translate(650px, 100px);
        background-image: linear-gradient(50deg, rgb(78, 250, 201), rgb(87, 202, 255));
    }
}

.passion {
    position: absolute;
    transform: translate(275px, 550px);
    border-radius: 16px;
    z-index: 1;
}

.projects {
    text-decoration: none;
    color: rgb(247, 26, 147);
}

.projects::after {
    content: " ";
    height: 2px;
    width: 40%;
    display: block;
    background-color: cornflowerblue;
    transform-origin: left;
    transition: transform 0.3s ease;
    transform: scaleX(0);
}

.projects:hover::after {
    transform: scaleX(1);
}