@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #171515;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.leave-img {
    position: relative;
    width: 70px;
    height: 70px;
}

.logo {
    position: static;
    color: white;
    font-size: 40px;
    margin-left: 20px;
    margin-right: 500px;
}

                                            /*Scroll Bar*/
/* Width */
::-webkit-scrollbar {
    display: none;
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    border-radius: 5px;
    background: lightgray;  
}
/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgb(53, 53, 53);
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.navigation a {
    position: static;
    text-decoration: none;
    color: aquamarine;
    border: 3px solid white;
    border-radius: 180px;
    padding: 6px 15px;
    margin: 0 10px;
    font-weight: 600;
    transition-duration: 500ms;  /*change*/
}
.navigation a:hover, .navigation a.active{
    background: aquamarine;
    box-shadow: 10px 6px 50px 1px aquamarine;
    color: black;
}

.text{
    margin-top: 445px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    color: white;
}
span {
    margin-left: 10px;
    color: aquamarine;
}

#leaf2 {
    position: absolute;
    top: -40px;
    left: 1420px;
    width: 25%;
    pointer-events: fill;
    z-index: -1;
    animation: leaf2 2s infinite alternate;
}
@keyframes leaf2 {
    100% { transform: translate(10px, -20px);}
}

#leaf3 {
    position: absolute;
    left: -55px;
    top: 600px;
    z-index: -1;
    animation: leaf3 2s infinite alternate;
}
@keyframes leaf3 {
    100% { transform: translate(10px, 20px); }
}

.sec h1 {
    text-align: center;
}
.sec {
    background-color: white;
    padding: 50px 0px 1000px 0px;
    margin-top: 500px;
    color: #171515;
}

.grid {
    display: grid;
    grid-template-columns: 250px 250px 250px 250px; 
    column-gap: 100px;
    margin-top: 150px;
    justify-content: center;
}

.grid-items {
    background-color: white;
    padding: 20px;
    border-radius: 16px;
    color: black;
    box-shadow:
    1px 2px 30px rgb(147, 253, 255),
    1px 3px 30px rgb(89, 255, 211);
}
.grid-items h3 {
    font-size: 1.6rem;
    display: inline-flex;
    margin: 0 0 18px 0;
}
.grid-items:hover {
    cursor: pointer;
}
.grid-items img {
    width: 100%;
    border-radius: 16px;
}

.footer {
    text-align: center;
    background-color: #949494;
    padding: 15px;
}

.projects {
    text-decoration: none;
    color: rgb(247, 26, 147);
}

@media screen and (max-width: 1650px) {
    .leave-img {
        width: 35px;
        height: 35px;
    }

    .logo {
        position: static;
        color: white;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 500px;
    }

    .navigation a {
        font-weight: 500;
        color: aquamarine;
        padding: 3px 5px;
        margin: 0 10px;
        font-size: 15px;
        transition-duration: 500ms;
    }

    .text{
        margin-top: 350px;
        font-size: 2em;
    } 

    .leaf2 {
        position: fixed;
        top: -40px;
        left: 1150px;
        width: 25%;
        pointer-events: fill;
        transition-duration: 500ms;
    }

    .leaf3 {
        position: fixed;
        left: -55px;
        top: 400px;
        transition-duration: 500ms;
    }
}

@media screen and (max-width: 600px) {
    * {
        font-family: 'Poppins', sans-serif;
    }
    
    body {
        margin: 0;
        padding: 0;
        background-color: #171515;
        min-height: 100vh;  
    }
    header {
        top: -50px;
        padding: 100px 30px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    .leave-img {
        width: 25px;
        height: 25px;
    }
    .logo {
        position: static;
        color: white;
        font-size: 20px;
        margin-left: 20px;
        margin-right: 100px;
    }
    .navigation a {
        position: static;
        text-decoration: none;
        color: aquamarine;
        border: 3px solid white;
        border-radius: 180px;
        padding: 0.5px 2.5px;
        margin: -5px -5px;
        font-weight: 600;
    }
    .text{
        margin-top: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5em;
        color: white;
    }
    .leaf2 {
        display: none;
        position: absolute;
        top: -40px;
        left: 250px;
        width: 50%;
    }
    
    .leaf3 {
        position: absolute;
        left: -60px;
        top: 400px;
        width: 50%;
    }
    .para-about-me {
        text-align: center;
        font-size: 1em;
    }
}


