@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #10101A;
}

header {
    position: absolute;
    width: 30%;
    padding: 1px 100px;
    border: 0.5px solid rgb(156, 156, 156);
    border-radius: 20px;
    display: inline-flex;
    flex-wrap: wrap;
    transform: translate(600px, 20px);
    background-color: #1D1E29;
}

header p {
    position: static;
    transform: translate(-45px, 0px);
    color: rgb(192, 192, 192);
    font-weight: 600;
}

header img {
    position: absolute;
    transform: translate(-75px, 15px);
    width: 25px;
    height: 25px;
}

section p {
    font-size: 70px;
    position: absolute;
    transform: translate(250px, 200px);
    color: white;
    font-weight: 800;
}

.products {
    background-image: linear-gradient(45deg, rgb(178, 146, 248), #2491d9);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

section a {
    position: absolute;
    color: white;
    text-decoration: none;
    font-weight: 500;
    transform: translate(250px, 655px);
}

.Profile-img {
    position: absolute;
    transform: translate(1150px, 150px);
    border-radius: 180px;
    animation: profile 1s infinite alternate;
}

@keyframes profile {
    50% {
        margin-bottom: 10px;
    }
    100% {
        margin-top: 10px;
    }
}

.thumb1 {
    position: absolute;
    width: 250px;
    height: 250px;
    transform: translate(-20px, -12px);
    transform: rotate(20deg);
}

.thumb2 {
    position: absolute;
    width: 250px;
    height: 250px;
    transform: translate(850px, 500px);
}
